---
import { Icon } from "astro-icon/components";

const socials = [
  {
    name: "Instagram",
    url: "https://www.instagram.com/ar_built_ltd/?hl=en",
    icon: "mdi:instagram",
  },
];

import config from "../config.json";
---

<footer class="footer bg-neutral text-neutral-content p-10">
  <aside>
    <h1 class="font-koulen text-2xl">
      {config.businessName}
      <br />
    </h1>
    <p>Providing reliable construction since 2020</p>
  </aside>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="flex">
      {
        socials.map((social) => (
          <a
            aria-label={social.name}
            href={social.url}
            target="_blank"
            rel="noopener noreferrer"
            class="group flex justify-start"
          >
            <Icon
              name={social.icon}
              class="w-full h-full text-4xl group-hover:text-accent transition"
            />
          </a>
        ))
      }
    </div>
  </nav>
</footer>
